<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Mega Menu Settings</title>

        <input-field type="int">
            <name>itemsPerColumn</name>
            <label>Subcategories per column</label>
            <placeholder>3</placeholder>
            <defaultValue>3</defaultValue>
            <min>3</min>
            <max>10</max>
        </input-field>

        <input-field type="single-select">
            <name>imageSize</name>
            <label>Category image size</label>
            <options>
                <option>
                    <id>s</id>
                    <name>Small</name>
                    <name lang="de-DE">Klein</name>
                </option>
                <option>
                    <id>m</id>
                    <name>Medium</name>
                    <name lang="de-DE">Mittel</name>
                </option>
                <option>
                    <id>l</id>
                    <name>Large</name>
                    <name lang="de-DE">Groß</name>
                </option>
            </options>
            <defaultValue>m</defaultValue>
        </input-field>



    </card>

</config>
